@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f8;
  --foreground: #f8f8f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8f8;
    --foreground: #f8f8f8;
  }
}

body {
  color: #f8f8f8;
  background: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.icon-buttons > * {
  @apply text-tosca hover:text-dark-tosca;
}

a {
  @apply text-tosca hover:text-dark-tosca;
}

.custom a {
  @apply text-black hover:text-dark-tosca;
}

.title {
  @apply text-tosca font-bold text-4xl text-center;
}

h1 {
  @apply font-bold text-4xl tracking-tight pt-4 pb-1 text-tosca text-center;
}

h2 {
  @apply font-bold text-3xl tracking-tight pt-4 pb-1;
}

h3 {
  @apply font-bold text-tosca text-xl tracking-tight pt-4 pb-1;
}
