@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f8;
  --foreground: #f8f8f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8f8;
    --foreground: #f8f8f8;
  }
}

body {
  color: #f8f8f8;
  background: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.icon-buttons > * {
  @apply text-tosca hover:text-dark-tosca;
}

a {
  @apply text-tosca hover:text-dark-tosca;
}

.custom a {
  @apply text-black hover:text-dark-tosca;
}
